{% load staticfiles %}

<html>
<head>
  <link rel ="stylesheet" href ="{% static 'css/post_list.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Hanalei+Fill" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body id="body">
  <div id="header">

  The Syte of Vincenzo Nastro

</div>
  <div id="profile">
    <img class="img-circle" src = "{% static 'pic_folder/profile/profilo.jpg' %}"/>
    <div id="description">
      <h1 id="name" onclick="salve()">{{profile.name}}</h1>
    <p>{{profile.description}} </p>
    </div>
  </div>

<ul class="nav nav-pills">
  <li class="active"><a data-toggle="tab" href="#manga" >Manga</a></li>
  <li><a data-toggle="tab" href="#games">Games</a></li>
  <li><a data-toggle="tab" href="#projects">Projects</a></li>
</ul>
<div class="tab-content">

    <div id="manga" class="tab-pane fade in active" >

      <table>
      <tr>
      <td></td> <td></td> <td></td> <td></td> <td></td>
      </tr>
      <tr>
      {% for manga in mangas %}

      {% if  forloop.counter0|divisibleby:"5"  %}
      </tr>
      <tr>

      {% endif %}

      <td >    <a href="{% url 'post_details' name=manga.name %}">
      <div class ="element">
      <img class="photo" src ="{{manga.photo.url}}">

      <h2>{{manga.name}}</h2>


      </div>
      </a>  </td>
      {% endfor %}


      {% if   mangas|length|divisibleby:"5" %}
      </tr>
      <tr>
      <td>    <a href="{% url 'manga_new' %}">

      <img class="plus" src = "{% static 'pic_folder/manga/plus.png' %}">
      </a> </td>

      {% else %}
      <td>    <a href="{% url 'manga_new' %}">

      <img class="plus" src = "{% static 'pic_folder/manga/plus.png' %}">
      </a> </td>
      {% endif %}
      </tr>
      </table>

    </div>
    <div id="games" class="tab-pane fade">


      {% block games %}
      {% endblock %}

    </div>

    <div id="projects" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

<script>

$('#searchbar').on('submit', function(event){
    event.preventDefault();
    console.log("{{mangas}}");  // sanity check
    create_post();
});

function create_post() {
//  var csrf_token = getCookie('csrftoken')
    console.log("create post is working!"); // sanity check
  /*  $.ajaxSetup({
      header: { "X-CSRFToken": getCookie("csrftoken") }
    });*/
    jQuery.ajax({
      type: 'POST',
      url: '{% url "prova" %}',
      data: { 'username': 'pappa'},
      success: function (data) {

        console.log("palle");
      },
      error: function (data) {

        console.log("error");
      },
    });
};

function getCookie(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
 }


</script>

</body>
</html>
