@import url("base.css");

p{
  text-align: center;
  color: white;
  font-size: 1.8em;
  font-family: 'Courgette';
  margin-top: 1%;
  clear: left;
}

.photo{
  float: left;
  max-width: 15em;
  max-height: 25em;
  margin: 2%;
}

.element{
  color: white;
  font-size: 2em;
font-family: 'Courgette';
position: relative;
}

.des{
  position: relative;
  top: 1.6em;
}
