{% extends 'blog/post_list.html' %}

{% block manga %}


<table>
<tr>
<td></td> <td></td> <td></td> <td></td> <td></td>
</tr>
<tr>
{% for manga in mangas %}

{% if  forloop.counter0|divisibleby:"5"  %}
</tr>
<tr>

{% endif %}

<td >    <a href="{% url 'post_details' name=manga.name %}">
<div class ="element"   >
<img class="photo" src = "{{manga.photo}}">

<h2>{{manga.name}}</h2>


</div>
</a>  </td>
{% endfor %}


{% if   mangas|length|divisibleby:"5" %}
</tr>
<tr>
<td>    <a href="{% url 'manga_new' %}">

<img class="plus" src = "static/blog/pic_folder/manga/plus.png">
</a> </td>

{% else %}
<td>    <a href="{% url 'manga_new' %}">

<img class="plus" src = "static/blog/pic_folder/manga/plus.png">
</a> </td>
{% endif %}
</tr>
</table>

{% endblock manga %}

{% block games %}
<table >
  <tr>
    <td></td> <td></td> <td></td> <td></td> <td></td>
  </tr>
<tr>
{% for game in games %}

{% if  forloop.counter0|divisibleby:"5"  %}
</tr>
<tr>

{% endif %}

<td >    <a href="{% url 'post_details' name=game.name %}">
<div class ="element"  >
<img class="photo" src = "{{game.photo}}">

<h2>{{game.name}}</h2>


</div>
</a>  </td>
{% endfor %}

{% if   games|length|divisibleby:"5" %}
</tr>
<tr>
<td>    <a href="{% url 'game_new' %}">

<img class="plus" src = "static/blog/pic_folder/games/plus.png">
</a> </td>

{% else %}
<td>    <a href="{% url 'game_new' %}">

<img class="plus" src = "static/blog/pic_folder/games/plus.png">
</a> </td>
{% endif %}
</tr>
</table>
{% endblock games %}
